.banner_content {
    display: grid;
    grid-template-columns: 500px 1fr;

    @include xs {
        display: block;
    }

    @include sm {
        display: block;
    }
    @include md {
        grid-template-columns: 310px 1fr;

    }
    @include lg {
        grid-template-columns: 420px 1fr;

    }

    .left {
        .heading {
            font-size: 64px;
            font-weight: 600;
            color: var(--navy_blue);
            margin-top: 56px;
            line-height: normal;

            @include xs {
                font-size: 45px;
                margin-top: 50px;
                line-height: 50px;
            }

            @include sm {
                font-size: 50px;
                margin-top: 55px;
                line-height: 50px;
            }
            @include md {
                font-size: 60px;
                line-height: 60px;
            }
        }

        .sub_heading {
            color: var(--navy_blue);
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 100px;
            margin-top: 50px;

            @include xs {
                margin-bottom: 27px;
                margin-top: 40px;
            }

            @include sm {
                margin-bottom: 40px;
                margin-top: 40px;
            }
            @include md {
                margin-bottom: 40px;
                margin-top: 40px;
            }
            @include md {
                margin-bottom: 60px;
            }

            span {
                color: var(--secondary);

            }
        }

        .banner_btn {
            padding: 18px 95px;

            @include xs {
                padding: 20px 40px
            }
        }
    }

    .right {
        @include xs {
            padding-top: 100px;
        }

        @include sm {
            padding-top: 100px;
        }
        @include md {
            padding-top: 70px;
        }
        @include lg {
            padding-top: 40px;
        }

        .img {
            padding: 10px;

            img {}
        }
    }
}