#our_features_part {
    margin-bottom: 60px;
}

.our_features {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    li {
        display: flex;
        align-items: center;
        justify-content: center;

        .link {
            color: var(--Black);
            gap: 15px;
            display: flex;
            align-items: center;

            .svg_icon {
                min-height: 33px;
                min-width: 40px;
            }

            .heading {
                font-size: 20px;
                line-height: 30px;
                font-weight: 300;
            }
        }
    }

}