// .product_list{
//     margin: 48px 0px;
// }
.product_list2 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(248px, 248px));
    gap: 24px;

    .product_item_2 {
        max-width: 255px;
        box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
        padding: 16px;
        display: grid;
        margin-bottom: 48px;
        .top {
            position: relative;

            overflow: hidden;

            .img {
                width: 193px;
                height: 181px;
                display: flex;
                align-items: center;
                img {
                    transition-duration: .3s;

                    a {
                        display: block;
                    }
                }
            }

            .favourite {
                position: absolute;
                top: 0;
                left: -25px;
                font-size: 24px;
                z-index: 9;
                transition-duration: .3s;
            }

            .color_list {
                right: 0;
                position: absolute;
                z-index: 9;
                top: 50%;
                transform: translateX(-50%);

                li {
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin-bottom: 3px;
                    cursor: pointer;

                }
            }

            .add_to_cart_btn {
                transform: translate(-50%);
                position: absolute;
                left: 50%;
                bottom: -45px;
                text-wrap: nowrap;
                transition-duration: .3s;
            }
        }

        .devider {
            margin: 16px 0px;
            height: 2px;
            background: rgb(68, 68, 68);
            background: linear-gradient(90deg, rgba(68, 68, 68, 0.20293843283582091) 38%, rgba(16, 16, 16, 0.7492070895522388) 50%, rgba(68, 68, 68, 0.1969682835820895) 62%);
        }



        .bottom {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tittle {
                a {
                    display: inline-block;

                    h3 {
                        font-size: 16px;
                        text-align: center;
                        color: var(--black);
                    }
                }


            }

            .price {
                display: flex;
                justify-content: space-between;

                .right {
                    color: var(--navy_blue);
                }
            }
        }

        &:hover {
            .top {
                .img {
                    a {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }

                .favourite {
                    left: 0;
                }

                .add_to_cart_btn {
                    bottom: 0;
                }
            }

            .devider {
                background: rgb(6, 58, 136);
                background: linear-gradient(90deg, rgba(6, 58, 136, 0.3014458955223881) 33%, rgba(6, 58, 136, 1) 52%, rgba(6, 58, 136, 0.2954757462686567) 65%);
            }

            .bottom {
                a {
                    h3 {
                        color: var(--navy_blue);
                    }
                }
            }
        }
    }
}