.top_sales_part {
    background-image: url(../images/sales/shape.png);
    display: grid;
    grid-template-columns: 290px 1000px;
    gap: 20px;
    background-color: var(--navy_blue);
    margin-bottom: 48px;
    border-radius: 8px;
    background-position: -128px -87px;
    background-size: contain;
    background-repeat: no-repeat;
    background-size: 384px;
    background-blend-mode: overlay;
    overflow-x: hidden;

    @include xs() {
        display: block;
    }

    @include sm() {
        display: block;
    }

    @include md() {
        grid-template-columns: 290px 400px;
    }

    @include lg() {
        grid-template-columns: 290px 610px;
    }

    @include xl() {
        grid-template-columns: 290px 823px;
    }

    .left {
        color: var(--white);
        text-align: center;

        .link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            font-size: 16px;
            margin-bottom: 62px;
        }

        .heading {
            font-size: 24px;
            margin-top: 62px;
            margin-bottom: 8px;
        }

        .sub_heading {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 88px;
        }

        .link {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            font-size: 16px;
            margin-bottom: 62px;

            .svg_icon {
                background-color: var(--white);
            }
        }
    }

    >.right {
        padding-top: 56px;
        padding-right: 10px;

        @include xs() {
            padding-left: 10px;
        }

        @include sm() {
            padding-left: 10px;
        }

        .navigation {
            display: none;
        }

        .owl-carousel .owl-nav.disabled {
            display: flex;
            justify-content: flex-end;
            gap: 10px;
            padding: 8px;
        }
    }
}