.heighlight_content {
    display: grid;
    grid-template-columns: 330px 1fr;
    gap: 30px;
    background-color: #223949;
    margin-bottom: 60px;
    overflow: hidden;
    padding: 40px 60px;
    position: relative;

    @include xs {
        grid-template-columns: 1fr;
        padding: 20px 30px;
    }
    @include sm {
        grid-template-columns: 1fr;
        padding: 20px 30px;
    }

    .shape {
        position: absolute;
        width: 508px;
        height: 100%;
        border: 1px solid white;
        right: 0;
        top: 0;
        background-color: var(--secondary);
        clip-path: ellipse(90% 99% at 100% 51%);

        @include xs {
            width: 100%;
            height: calc(100% + 100px);
            right: 0;
            top: unset;
            transform: rotate(90deg);
            bottom: -50%;
        }
        @include sm {
            width: 100%;
            height: calc(100% + 100px);
            right: 0;
            top: unset;
            transform: rotate(58deg);
            bottom: -41%;
            left: 62px;
        }
    }

    .left {
        display: grid;
        align-content: center;

        .l_content {
            color: var(--white);

            @include xs {
                text-align: center;
            }
            @include sm {
                text-align: center;
            }

            .heading {
                font-size: 44px;
                line-height: 54px;

                @include xs {
                    font-size: 25px;
                    line-height: 23px;
                }
            }

            p {
                font-size: 24px;
                line-height: 34px;
                margin-top: 16px;
                margin-bottom: 40px;
            }

            .btns {
                color: #223949;
                padding: 10px 20px;
            }
        }
    }

    .right {
        .img {
            position: relative;
            max-width: 500px;
            margin: 0 auto;

            img {}
        }

    }
}