.cart_items {
    position: absolute;
    top: calc(100% + 29px);
    width: 512px;
    right: 0;
    background-color: var(--white);
    padding: 16px;
    box-shadow: 0px 10px 10px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid var(--primarry);
    z-index: 9;
    max-height: 700px;

    .top {
        .cart_top_tag {
            font-size: 18px;
            line-height: 20px;
            font-weight: 300;
        }
    }

    .mid {
        padding: 8px;

        .cart_item_list {

            .cart_item {
                border-radius: 8px;
                background: #FFF;
                box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
                padding: 16px 32px;
                margin-bottom: 12px;
                display: flex;
                gap: 26px;
                align-items: center;

                .img {
                    img {}
                }

                .content {
                    .product_name {
                        color: #2D2D2D;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                    }

                    .sizes {
                        color: #2D2D2D;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: bold;
                        line-height: normal;
                    }

                    .color {
                        color: var(--neutral-gray-717171, #717171);
                        font-size: 10px;
                        font-weight: bold;
                        line-height: normal;
                        margin-top: 10px;
                    }

                    .qty {
                        i {
                            color: var(--neutral-gray-717171, #717171);
                            font-size: 10px;
                            font-weight: bold;
                            line-height: normal;
                        }
                    }

                    .extra_features {
                        ul {
                            display: block;

                            li {
                                display: flex;
                                color: var(--neutral-gray-717171, #717171);
                                font-size: 10px;
                                line-height: 10px;
                                font-weight: bold;
                                align-items: center;

                                .svg_icon {
                                    height: 16px;
                                    width: 16px;
                                    background-color: var(--primarry);
                                }
                            }
                        }
                    }

                    .qty_changer {
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;
align-items: center;
                        .price {
                            font-style: 13px;
                            line-height: 15px;
                        }

                        .qty_updater {
                            display: flex;
                                .button{
                                    background-color: transparent;
                                    border: 0;
                                    outline: 0;
                                  
                                }

                            .qty_input {
                                display: flex;
                                gap: 3px;
                                input{
                                    width: 45px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


    .bottom {
        display: flex;
        gap: 32px;
        align-items: center;
        border: var(--border);

        .left {
            .tittle {
                font-size: 14px;
                font-weight: 300;
                line-height: 16px;
            }

            .ammount {
                font-style: 15px;
                font-weight: bold;
                line-height: 17px
            }
        }

        .right {
            flex: 1;

            a {
                display: flex;
                gap: 8px;
                background-color: var(--primarry);
                color: var(--white);
                border-radius: 8px;
                align-items: center;
                // display: block;
                justify-content: center;
                padding: 8px 15px;
                display: flex;

                .tittle {
                    font-weight: 600;
                }

                .svg_icon {
                    background-color: var(--white);
                }
            }

        }
    }
}