.cart_items {
    // border: 1px solid red;
    position: absolute;
    top: calc(100% + 37px);
    right: 0;
    width: 512px;
    max-height: 700px;
    background-color: var(--white);
    padding: 16px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0px 10px 10px;
    border-top: 1px solid var(--primarry);
    z-index: 9;
    display: none;
    visibility: hidden;
    transition-duration: .3s;
    transform: scale(0);
    opacity: 0;
    &.active {
        display: block;
        visibility: visible;
        transform: scale(1);
        opacity: 1;

    }

    .top {
        padding-bottom: 10px;

        .cart_top_tittle {
            font-size: 18px;
            font-weight: 300;
            line-height: 20px;
        }
    }

    .mid {


        .cart_item_list {
            height: calc(700px - 189px);
            overflow-y: scroll;

            padding: 8px;

            .cart_item {
                border-radius: 8px;
                background: #FFF;
                box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
                padding: 16px 30px;
                margin-bottom: 12px;
                display: flex;
                gap: 26px;
                align-items: center;

                .img {
                    width: 145px;
                }

                .content {
                    width: calc(100% - 167px);

                    .product_name,
                    .size {
                        font-size: 18px;
                        line-height: 18px;
                        font-weight: 600;
                    }

                    .color {
                        margin-top: 10px;
                    }

                    color,
                    .qty {
                        font-size: 12px;
                        font-weight: 300;
                        line-height: normal;
                    }

                    .extra_feautures {
                        ul {
                            display: block;
                            margin-top: 10px;

                            li {
                                display: flex;
                                gap: 10px;
                                font-size: 10px;
                                line-height: 10px;
                                margin-bottom: 8px;
                                align-items: center;

                                .svg_icon {
                                    height: 16px;
                                    width: 16px;
                                }
                            }
                        }
                    }

                    .qty_changer {
                        display: flex;
                        justify-content: space-between;
                        gap: 30px;

                        .price {
                            font-size: 13px;
                            line-height: 15px;
                            display: flex;
                            align-items: center;
                        }

                        .qty_updater {
                            display: flex;

                            button {
                                background-color: transparent;
                                border: 0;
                                outline: 0;
                                cursor: pointer;
                            }

                            .delete_cart {
                                .svg_icon {
                                    background-color: var(--error);

                                }
                            }

                            .qty_input {
                                display: flex;
                                gap: 3px;
                                border-bottom: 1px solid var(--natural_gray);

                                input {
                                    width: 45px;
                                    border: 0;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .bottom {
        display: flex;
        gap: 32px;
        align-items: center;
        padding-top: 15px;

        .left {
            .tittle {
                font-weight: 300;
                font-size: 15px;
                line-height: 17px;
            }

            .ammount {
                font-size: 16px;
                font-weight: bold;
                line-height: 18px;
            }
        }

        .right {
            flex: 1;

            a {
                background-color: var(--primarry);
                border-radius: 8px;
                color: var(--white);
                text-align: center;
                display: block;
                font-size: 16px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px 16px;
                gap: 8px;

                .svg_icon {
                    background-color: var(--white);
                }

                &:hover {
                    background-color: var(--secondary);

                    .svg_icon {
                        background-color: var(--white);
                    }
                }

                .tittle {
                    text-align: center;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
        }
    }
}