.btn {
    display: inline-block;
    padding: 14px 40px;
    border-radius: 8px;
    background-color: #f1f1f1;
    transition-duration: .3s;

    &.btn_v1 {
        background-color: var(--primarry);
        color: var(--white);

        &:hover {
            background-color: var(--secondary);
            color: var(--white);
        }
    }

    &.btn_v2 {
        background-color: var(--secondary);
        color: var(--white);

        &:hover {
            background-color: var(--primarry);
            color: var(--white);
        }
    }
}