 .section_heading {
     display: flex;
     justify-content: space-between;
     align-items: center;
     border-bottom: 1px solid var(--black);
     padding-bottom: 18px;
     margin-bottom: 32px;
     @include xs{
       padding-bottom: 0;
         }
     h2 {
         font-size: 32px;
         font-weight: 500;
         @include xs{
        font-size: 22px;
         }
     }

     .right_side {
         //  border: var(--border);
         font-size: 16px;
         line-height: 26px;

         a {
             color: var(--black);
             font-size: 16px;
         line-height: 26px;
         &:hover{
            color: var(--primarry);
         }
         }
     }
  
 }