@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../fonts/poppins/Poppins-bold.ttf");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../fonts/poppins/Poppins-semibold.ttf");
}
@font-face {
  font-family: "poppins-extrabold";
  src: url("../fonts/poppins/Poppins-extrabold.ttf");
}
:root {
  --border: 1px solid red;
  --brand_light: #0F6E8C;
  --brand_deep: #05546D;
  --black_light: #4F4F4F;
  --black_deep: #2D2F30;
  --black_primary: #1282A6;
  --gray: #8B8C8C;
  --white: #fff;
  --app_font: "poppins-regular";
  --poppin_regular: "poppins-regular";
  --poppin_semibold: "poppins-semibold";
  --poppin_bold: "poppins-bold";
  --poppin_extabold: "poppins-extabold";
  --play_fair: "Playfair Display", serif;
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--app_font);
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.3s;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  list-style: none;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.common_heading.center {
  text-align: center;
}
.common_heading.center p {
  margin-top: 30px;
}
.common_heading.right {
  text-align: center;
}
.common_heading h2 {
  color: #2D2F30;
  font-family: var(--play_fair);
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 0.32px;
}
.common_heading p {
  color: var(--gray);
  font-family: var(--poppin_regular);
  font-size: 20px;
  line-height: 40px;
  font-style: normal;
  letter-spacing: 0.5px;
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 30px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 546px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 962px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

header .header_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
header .header_body .logo {
  width: 131px;
}
header .header_body .logo .img {
  padding-top: 5px;
}
header .header_body .right_content {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
header .header_body .right_content .nav {
  flex: 1;
  display: grid;
  align-items: center;
}
header .header_body .right_content .extra_links {
  display: flex;
  gap: 10px;
}
header .header_body .right_content .extra_links .search a {
  padding-top: 6px;
  color: var(--black_deep);
}
header .header_body .right_content .extra_links .nav_control {
  display: grid;
  align-items: center;
  display: none;
}
header .header_body .right_content .extra_links .nav_control a {
  line-height: 10px;
}
header .header_body .right_content .extra_links .nav_control a span {
  color: var(--black_deep);
}
header .header_body .right_content .extra_links .nav_control a:hover {
  background-color: var(--brand_deep);
  color: var(--white);
  border-radius: 4px;
  padding: 5px 10px;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  header .header_body .right_content {
    justify-content: flex-end;
  }
  header .header_body .right_content .nav {
    order: 2;
    flex: unset;
  }
  header .header_body .right_content .nav ul li.close_nav {
    display: block;
  }
  header .header_body .right_content .extra_links {
    order: 1;
  }
  header .header_body .right_content .extra_links .nav_control {
    display: grid;
  }
}

nav ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 55px;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
}
nav ul li.close_nav {
  display: none;
}
nav ul li.close_nav {
  text-align: right;
}
nav ul li.close_nav a span {
  margin-right: 21px;
  font-size: 35px;
}
nav ul li a {
  color: var(--black_deep);
  text-transform: uppercase;
  font-weight: 400;
  font-family: var(--poppin_regular);
}
nav ul li a.active, nav ul li a:hover {
  font-weight: 700;
  background-color: var(--brand_deep);
  color: var(--white);
  border-radius: 4px;
  padding: 5px 10px;
}

@media (min-width: 0px) and (max-width: 999.9px) {
  nav {
    position: relative;
  }
  nav ul {
    display: none;
    height: 100vh;
    position: fixed;
    flex-direction: column;
    gap: 10px;
    width: 30vw;
    min-width: 150px;
    top: 0;
    padding: 30px 0px;
    right: 0;
    justify-content: flex-start;
    text-align: left;
    padding-left: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px black;
    background-color: rgba(0, 0, 0, 0.0509803922);
    z-index: 9;
    background-color: rgba(5, 84, 109, 0.2117647059);
  }
  nav ul.active {
    display: block;
  }
  nav ul li {
    list-style-type: disc;
    margin-bottom: 30px;
  }
  nav ul a {
    font-size: 17px;
  }
}
#top_footer {
  background-color: var(--brand_light);
}
#top_footer .top_footer_content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 85px 0px;
}
#top_footer .top_footer_content .logo {
  width: 300px;
}
#top_footer .top_footer_content .footer_link {
  width: 200px;
}
#top_footer .top_footer_content .footer_link .link_list_heading {
  color: var(--white);
  font-size: 20px;
  margin-bottom: 30px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: var(--play_fair);
}
#top_footer .top_footer_content .footer_link .link_list li a {
  color: var(--white);
  margin-bottom: 12px;
  font-weight: 400;
  text-transform: capitalize;
  padding: 6px;
  display: block;
}
#top_footer .top_footer_content .footer_link .link_list li a:hover {
  background-color: var(--black_deep);
}

#bottom_footer {
  background-color: var(--brand_deep);
}
#bottom_footer .bottom_footer_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 22px 0px;
}
#bottom_footer .bottom_footer_content .left p {
  color: var(--white);
}
#bottom_footer .bottom_footer_content .right .social_links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
#bottom_footer .bottom_footer_content .right .social_links li a i {
  color: var(--white);
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  background-color: var(--brand_light);
}

#banner .banner_content {
  display: grid;
  grid-template-columns: 755px 1fr;
  padding: 200px 0px 70px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    padding: 30px 0px 0px;
    gap: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content {
    grid-template-columns: 1fr;
    padding: 30px 0px 0px;
    gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content {
    grid-template-columns: 708px 1fr;
    padding: 84px 0px 85px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content {
    grid-template-columns: 708px 1fr;
    padding: 127px 0px 70px;
  }
}
#banner .banner_content .banner_ditails .top h1 {
  font-size: 90px;
  color: var(--brand_deep);
  font-family: "Playfair Display", serif;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_ditails .top h1 {
    font-size: 33px;
    line-height: 48px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_ditails .top h1 {
    font-size: 48px;
    line-height: 69px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_ditails .top h1 {
    font-size: 71px;
  }
}
#banner .banner_content .banner_ditails .top p {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  line-height: 37px;
  color: var(--black_light);
  letter-spacing: 0.5px;
  max-width: 500px;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_ditails .top p {
    font-size: 19px;
    line-height: 31px;
    margin-top: 29px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_ditails .top p {
    font-size: 14px;
    line-height: 30px;
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_ditails .top p {
    font-size: 20px;
  }
}
#banner .banner_content .banner_ditails .top a {
  padding: 29px 36px;
  background-color: var(--brand_deep);
  color: var(--white);
  font-size: 16px;
  border-radius: 8px;
  margin-top: 30px;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_ditails .top a {
    padding: 22px 26px;
    font-size: 13px;
    border-radius: 8px;
    margin-top: 21px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_ditails .top a {
    margin-top: 19px;
    padding: 21px 22px;
    font-size: 14px;
  }
}
#banner .banner_content .banner_ditails .bottom P {
  color: var(--black_light);
  letter-spacing: 0.88px;
  font-family: "Playfair Display sans";
  font-size: 22px;
  line-height: 30px;
  margin-top: 96px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_ditails .bottom P {
    font-size: 14px;
    line-height: 24px;
    margin-top: 44px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_ditails .bottom P {
    margin-top: 55px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_ditails .bottom P {
    font-size: 20px;
  }
}
#banner .banner_content .banner_ditails .bottom .sponsor_list {
  display: grid;
  grid-template-columns: 105px 105px;
  gap: 27px;
  margin-top: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_ditails .bottom .sponsor_list {
    grid-template-columns: 68px 61px;
    gap: 23px;
    margin-top: 19px;
  }
}
#banner .banner_content .banner_ditails .bottom .sponsor_list a img {
  width: 100px;
  object-fit: contain;
}
#banner .banner_content .banner_image {
  position: relative;
}
#banner .banner_content .banner_image .img {
  width: 504px;
  position: absolute;
  left: -133px;
  top: -63px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_image .img {
    position: unset;
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_image .img {
    position: unset;
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #banner .banner_content .banner_image .img {
    width: 334px;
    left: -329px;
    top: 203px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content .banner_image .img {
    left: -295px;
    top: 189px;
    width: 355px;
  }
}
#banner .banner_content .banner_image .img img {
  width: 100%;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #banner .banner_content .banner_image .img img {
    margin-bottom: -7px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #banner .banner_content .banner_image .img img {
    width: 100%;
    margin-bottom: -7px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #banner .banner_content .banner_image .img img {
    width: 100%;
  }
}

#our_features {
  background-color: #F2FCFF;
  padding: 120px 0px;
}

.our_features_body {
  display: grid;
  grid-template-columns: 417px 1fr;
  gap: 100px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 65px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .our_features_body {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .our_features_body {
    gap: 40px;
    grid-template-columns: 376px 1fr;
  }
}
.our_features_body .features_description {
  padding-top: 48px;
}
.our_features_body .features_description .common_heading.center {
  margin-top: 30px;
}
.our_features_body .featuree_list {
  display: grid;
  grid-template-columns: 256px 256px;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .our_features_body .featuree_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .our_features_body .featuree_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .our_features_body .featuree_list {
    justify-content: center;
    grid-template-columns: 257px 255px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .our_features_body .featuree_list {
    gap: 14px;
  }
}
.our_features_body .featuree_list .featuree_item {
  padding: 24px;
  width: 256px;
  background: #FCFCFC;
  border-radius: 8px;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .our_features_body .featuree_list .featuree_item {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .our_features_body .featuree_list .featuree_item {
    width: 100%;
  }
}
.our_features_body .featuree_list .featuree_item .icon .img {
  width: 37px;
}
.our_features_body .featuree_list .featuree_item h3 {
  font-size: 22px;
  line-height: 22px;
  font-family: var(----play_fair);
  color: #363940;
  letter-spacing: 0.5px;
  margin-top: 18px;
}
.our_features_body .featuree_list .featuree_item p {
  font-family: var(----play_fair);
  font-size: 14px;
  line-height: 24px;
  color: var(--gray);
  margin-top: 10px;
}

#counter {
  background-color: var(--brand_light);
}

.counter_content {
  padding: 55px 0px;
}
.counter_content p {
  margin-top: 8px;
}
.counter_content .container_items {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .counter_content .container_items {
    display: block;
  }
}
.counter_content .container_items .item {
  width: 255px;
  gap: 50px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .counter_content .container_items .item {
    margin: auto;
  }
}
.counter_content .container_items .item.item2 {
  border-left: 1px solid var(--white);
  border-right: 1px solid var(--white);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .counter_content .container_items .item.item2 {
    border-left: 0;
    border-right: 0;
    border-top: 1px solid var(--white);
    border-bottom: 1px solid var(--white);
    margin: 30px auto;
    padding: 30px 0px;
  }
}
.counter_content .container_items .item h3 {
  font-size: 48px;
  line-height: 43px;
}
.counter_content .container_items .item p {
  font-size: 18px;
  margin-top: 30px;
  line-height: 18px;
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .counter_content .container_items .item p {
    line-height: 28px;
  }
}
.counter_content .container_items .item p,
.counter_content .container_items .item h3 {
  text-align: center;
  color: var(--white);
}

#testimonials {
  background-color: #F4FBFF;
}

.testimonial_content {
  padding: 60px 0px 131px 0px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .testimonial_content {
    padding: 43px 0px 81px 0px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .testimonial_content {
    padding: 43px 0px 81px 0px;
  }
}
.testimonial_content .testimonials_part {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  justify-content: center;
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .testimonial_content .testimonials_part {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .testimonial_content .testimonials_part {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30;
  }
}
.testimonial_content .testimonials_part .testimonials_item .Anya_Tailor_Joys_ditails {
  text-align: center;
  padding: 32px;
  background: #FCFCFC;
  box-shadow: 0px 18px 58px 16px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  text-transform: capitalize;
}
.testimonial_content .testimonials_part .testimonials_item .Anya_Tailor_Joys_ditails h4 {
  font-size: 18px;
  line-height: 28px;
  font-family: var(--play_fair);
  letter-spacing: 0.5px;
  color: #151617;
}
.testimonial_content .testimonials_part .testimonials_item .Anya_Tailor_Joys_ditails p {
  font-family: var(--play_fair);
  font-size: 14px;
  line-height: 24px;
  color: var(--black_light);
  margin-top: 10px;
}
.testimonial_content .testimonials_part .testimonials_item .Anya_Tailor_Joys_ditails .arrow_part {
  height: 24px;
  width: 24px;
  background-color: #C4C4C4;
  transform: rotate(180deg);
  clip-path: polygon(50% 54%, 0% 100%, 100% 100%);
  position: relative;
  top: 56px;
  left: 50%;
}
.testimonial_content .testimonials_part .testimonials_item .about {
  display: flex;
  gap: 15px;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .testimonial_content .testimonials_part .testimonials_item .about {
    gap: 20px;
  }
}
.testimonial_content .testimonials_part .testimonials_item .about .img img {
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}
.testimonial_content .testimonials_part .testimonials_item .about .text h4 {
  color: #151617;
  font-size: 18px;
  font-family: var(--black_light);
  font-weight: 700;
  line-height: 28px;
}
.testimonial_content .testimonials_part .testimonials_item .about .text p {
  color: var(--black_light);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

@media (min-width: 0px) and (max-width: 767.9px) {
  #Complex_Questions {
    padding-bottom: 45px;
  }
}
#Complex_Questions .Complex_Questions_content {
  display: grid;
  grid-template-columns: 1fr 395px;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #Complex_Questions .Complex_Questions_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #Complex_Questions .Complex_Questions_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #Complex_Questions .Complex_Questions_content {
    grid-template-columns: 1fr;
  }
}
#Complex_Questions .Complex_Questions_content .left .common_heading.left {
  padding: 45px 0px;
}
#Complex_Questions .Complex_Questions_content .left .common_heading.left p {
  margin-top: 15px;
}
#Complex_Questions .Complex_Questions_content .left .action_btns {
  margin-bottom: 20px;
}
#Complex_Questions .Complex_Questions_content .left .action_btns .action_btn {
  display: inline-flex;
  gap: 10px;
  background: var(--brand_light);
  border-radius: 8px;
  padding: 14px 18px;
  color: var(--white);
  align-items: center;
}
#Complex_Questions .Complex_Questions_content .left .action_btns .action_btn .icon {
  position: relative;
  top: 3px;
  font-size: 22px;
}
#Complex_Questions .Complex_Questions_content .left .action_btns .action_btn .text {
  font-size: 22px;
  font-weight: 600;
}
#Complex_Questions .Complex_Questions_content .right .img {
  height: 100%;
  overflow-x: hidden;
}
#Complex_Questions .Complex_Questions_content .right .img img {
  height: 404px;
  border-bottom-left-radius: 40px;
  margin-top: -8px;
  position: relative;
  top: 8px;
}

/*# sourceMappingURL=app.css.map */
