.svg_icon {
  min-height: 24px;
  min-width: 24px;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-size: 100;
  background-color: Black;
}

@font-face {
  font-family: "inter-regular";
  src: url("../fonts/inter/Inter-Regular.ttf");
}
:root {
  --border: 1px solid red;
  --error: #C91433;
  --primarry: #0C68F4;
  --secondary: #F45E0C;
  --navy_blue: #042352;
  --white: #fff;
  --natural_gray: #CBCBCB;
  --black: #000000;
  --app_font: "inter-regular";
  --inter: "inter-regular";
}

body,
html {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: var(--app_font);
}

img,
label,
a,
i,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  font-size: 12px;
  transition-duration: 0.3s;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: left;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  list-style: none;
  font-size: 22px;
  line-height: 32px;
}

p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
}
p.p2 {
  font-size: 24px;
  line-height: 34px;
}

header,
nav,
div,
section,
aside,
main,
footer {
  box-sizing: border-box;
}

h1 {
  font-size: 90px;
  line-height: 100px;
}

h2 {
  font-size: 48px;
  line-height: 58px;
}

h3 {
  font-size: 22px;
  line-height: 32px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.btn {
  display: inline-block;
  padding: 14px 40px;
  border-radius: 8px;
  background-color: #f1f1f1;
  transition-duration: 0.3s;
}
.btn.btn_v1 {
  background-color: var(--primarry);
  color: var(--white);
}
.btn.btn_v1:hover {
  background-color: var(--secondary);
  color: var(--white);
}
.btn.btn_v2 {
  background-color: var(--secondary);
  color: var(--white);
}
.btn.btn_v2:hover {
  background-color: var(--primarry);
  color: var(--white);
}

#search_modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition-duration: 0.3s;
  transform: scale(0.5);
}
#search_modal.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 99;
}
#search_modal .search_overlay {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: relative;
}
#search_modal .search_overlay .search_card {
  width: 808px;
  height: 490px;
  background-color: var(--white);
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 50px 60px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #search_modal .search_overlay .search_card {
    width: calc(100% - 31px);
    padding: 20px 10px;
    left: calc(50% - 8px);
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #search_modal .search_overlay .search_card {
    width: calc(100% - 31px);
    padding: 20px 10px;
    left: calc(50% - 8px);
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #search_modal .search_overlay .search_card {
    width: 770px;
    padding: 51px 100px 60px;
  }
}
#search_modal .search_overlay .search_card .top {
  margin-bottom: 48px;
}
#search_modal .search_overlay .search_card .top .search_form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#search_modal .search_overlay .search_card .top .search_form .search_input {
  border: 1px solid var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  border-radius: 8px;
}
#search_modal .search_overlay .search_card .top .search_form .search_input .input {
  flex: 1;
  padding: 16px;
  font-size: 14px;
  border: 0;
  outline: 0;
}
#search_modal .search_overlay .search_card .top .search_form .search_input .submit_button {
  background: transparent;
  border: 0;
  padding-right: 15px;
}
#search_modal .search_overlay .search_card .top .search_form .icon_part {
  width: 170px;
  display: flex;
  justify-content: flex-end;
}
#search_modal .search_overlay .search_card .top .search_form .icon_part:hover {
  color: var(--primarry);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #search_modal .search_overlay .search_card .bottom {
    height: 359px;
    overflow-y: scroll;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #search_modal .search_overlay .search_card .bottom {
    height: 359px;
    overflow-y: scroll;
  }
}
#search_modal .search_overlay .search_card .bottom .suggested_keyword {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
#search_modal .search_overlay .search_card .bottom .suggested_keyword .keyword_group .heading {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 600px;
}
#search_modal .search_overlay .search_card .bottom .suggested_keyword .keyword_group .link_list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
}
#search_modal .search_overlay .search_card .bottom .suggested_keyword .keyword_group .link_list li a {
  font-size: 18px;
  color: var(--black);
  text-transform: capitalize;
  font-weight: 300;
  transition-duration: 0.3s;
}
#search_modal .search_overlay .search_card .bottom .suggested_keyword .keyword_group .link_list li a:hover {
  color: var(--primarry);
  text-decoration: solid;
}
#search_modal .search_overlay .search_card .bottom .suggest_result {
  display: flex;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #search_modal .search_overlay .search_card .bottom .suggest_result {
    flex-direction: column;
  }
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left {
  width: 250px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .search_at_glance {
  font-size: 16px;
  line-height: 24px;
  color: #444;
  margin-bottom: 40px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 18px;
  column-gap: 30px;
  row-gap: 8px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  #search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul {
    row-gap: 5px;
  }
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul li a {
  color: var(--black);
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul li a .search_match {
  color: #888;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul li a:hover {
  color: var(--primarry);
}
#search_modal .search_overlay .search_card .bottom .suggest_result .left .result_list ul .more {
  margin-top: 16px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .right {
  flex: 1;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  #search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  #search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products {
    display: none;
  }
}
#search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products .product_item {
  display: flex;
  gap: 20px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products .product_item .nav_product {
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  padding: 12px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products .product_item .img {
  height: 80px;
}
#search_modal .search_overlay .search_card .bottom .suggest_result .right .match_products .product_tittle {
  font-size: 10px;
  line-height: 16px;
  font-weight: 400;
}

.product_item {
  padding: 8px;
  background-color: var(--white);
  border-radius: 8px;
  position: relative;
  display: inline-block;
}
.product_item .img {
  margin-bottom: 12px;
}
.product_item .tittle {
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
  color: var(--black);
  margin-bottom: 8px;
}
.product_item .discount {
  font-size: 12px;
  line-height: 22px;
  font-weight: 300;
  color: var(--secondary);
  background-color: #fddbc9;
  display: inline-block;
  padding: 4px 6px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  position: absolute;
  top: 8px;
  left: 0;
}
.product_item .price_area {
  display: flex;
  justify-content: space-between;
}
.product_item .price_area .del_price {
  color: #717171;
  font-size: 13px;
  line-height: 23px;
}
.product_item .price_area .discount_price {
  font-size: 14px;
  line-height: 24px;
}

.section_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--black);
  padding-bottom: 18px;
  margin-bottom: 32px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .section_heading {
    padding-bottom: 0;
  }
}
.section_heading h2 {
  font-size: 32px;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .section_heading h2 {
    font-size: 22px;
  }
}
.section_heading .right_side {
  font-size: 16px;
  line-height: 26px;
}
.section_heading .right_side a {
  color: var(--black);
  font-size: 16px;
  line-height: 26px;
}
.section_heading .right_side a:hover {
  color: var(--primarry);
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0px 15px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .container {
    width: calc(100% - 10px);
    padding: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .container {
    width: 526px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .container {
    width: 738px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .container {
    width: 946px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1370px;
  }
}

header {
  position: relative;
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}

nav .nav_body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  /* not responsvive only large screen*/
}
nav .nav_body .nav_toggler {
  display: none;
}
nav .nav_body .nav_toggler button {
  outline: 0;
  background-color: transparent;
  border: 0;
  font-size: 30px;
  cursor: pointer;
  transition-duration: 0.3s;
}
nav .nav_body .nav_toggler button:hover {
  color: var(--primarry);
}
@media (min-width: 0px) and (max-width: 991.9px) {
  nav .nav_body .nav_toggler {
    display: block;
  }
}
nav .nav_body .logo {
  height: 65px;
}
nav .nav_body .manu {
  /* responsive */
}
@media (min-width: 992px) {
  nav .nav_body .manu {
    display: grid;
    align-items: center;
  }
}
nav .nav_body .manu ul {
  display: flex;
  flex-wrap: wrap;
  gap: 65px;
  align-items: center;
  height: 100%;
  align-items: center;
  text-transform: capitalize;
}
nav .nav_body .manu ul li.nav_logo, nav .nav_body .manu ul li.nav_close {
  display: none;
}
nav .nav_body .manu ul li a {
  font-size: 18px;
  color: var(--black);
  position: relative;
}
nav .nav_body .manu ul li a::after {
  content: "";
  height: 5px;
  width: 0;
  position: absolute;
  bottom: -16px;
  background: var(--gradient-linear-stroke-bottom, linear-gradient(147deg, rgba(12, 104, 244, 0.3) 60.98%, rgba(12, 104, 244, 0.7) 81.93%, rgba(12, 104, 244, 0.3) 99.45%));
  left: -10px;
  background-position: center center;
  transition-duration: 0.3s;
}
nav .nav_body .manu ul li a:focus, nav .nav_body .manu ul li a:hover {
  color: var(--primarry);
}
nav .nav_body .manu ul li a:focus::after, nav .nav_body .manu ul li a:hover::after {
  width: calc(100% + 20px);
}
@media (min-width: 0px) and (max-width: 991.9px) {
  nav .nav_body .manu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    top: 0;
    left: calc(-100vw - 100px);
    transition-duration: 0.3s;
  }
  nav .nav_body .manu.active {
    left: 0;
  }
  nav .nav_body .manu .overlay {
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    height: 100vh;
  }
  nav .nav_body .manu ul {
    height: 100vh;
    background: var(--white);
    box-shadow: 0px 0px 5px black;
    width: calc(100% - 30px);
    max-width: 400px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    padding: 25px;
    position: relative;
  }
  nav .nav_body .manu ul li.nav_close, nav .nav_body .manu ul li.nav_logo {
    display: block;
  }
  nav .nav_body .manu ul li.nav_close a, nav .nav_body .manu ul li.nav_logo a {
    display: inline-block;
  }
  nav .nav_body .manu ul li.nav_close {
    position: absolute;
    top: 15px;
    top: 35px;
    /* right: 15px; */
    left: calc(100% - 75px);
  }
  nav .nav_body .manu ul li.nav_close a {
    height: 30px;
    width: 30px;
    border: 1px solid var(--black);
    border-radius: 50%;
    line-height: 27px;
    text-align: center;
    font-size: 19px;
    padding-left: 2px;
    box-sizing: border-box;
  }
}
nav .nav_body .action_manues ul {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  height: 100%;
  align-items: center;
}
nav .nav_body .action_manues ul li {
  position: relative;
}
nav .nav_body .action_manues ul li:has(.active) > a .svg_icon {
  background-color: var(--primarry);
}
nav .nav_body .action_manues ul li a .count {
  position: absolute;
  border-radius: 40px;
  color: var(--White, #FFF);
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  background-color: var(--primarry);
  width: 24px;
  height: 24px;
  top: 10px;
  left: 10px;
}
nav .nav_body .action_manues ul li a .svg_icon {
  transition-duration: 0.3s;
}
nav .nav_body .action_manues ul li a .svg_icon:hover {
  background-color: var(--primarry);
}

#product_category_jumbo_manu {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.486) 0%, rgba(0, 0, 0, 0.6) 100%), url(<path-to-image>), lightgray 0px 0.701px/100% 426.035% no-repeat;
  height: calc(100vh - 100px);
  width: 100vw;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 103px;
  transition-duration: 0.3s;
  transform: scale(0);
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #product_category_jumbo_manu {
    margin-top: 0;
  }
}
#product_category_jumbo_manu.active {
  display: block;
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 99;
}
#product_category_jumbo_manu .product_list_manu {
  border-top: 2px solid var(--primarry);
}
#product_category_jumbo_manu .product_list_manu .overlay {
  background: var(--white);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories {
  display: flex;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .category_list {
  width: 290px;
  padding: 24px 16px;
  border-right: 1px solid var(--natural_gray);
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .category_list ul li {
  margin-bottom: 16px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .category_list ul li a {
  display: flex;
  gap: 18px;
  color: var(--black);
  align-items: center;
  text-transform: capitalize;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .category_list ul li a:hover {
  color: var(--primarry);
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list {
  display: flex;
  flex: 1;
  justify-content: space-between;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories {
  width: 170px;
  padding: 24px 16px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li {
  margin-bottom: 16px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li a {
  display: flex;
  gap: 18px;
  color: var(--black);
  align-items: center;
  text-transform: capitalize;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li a .svg_icon {
  height: 24px;
  width: 24px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li a:hover {
  color: var(--primarry);
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li .view_all {
  display: flex;
  gap: 0;
  color: var(--primarry);
  padding: 4px 8px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories ul li .view_all .svg_icon {
  background-color: var(--primarry);
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product {
  flex: 1;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .close {
  text-align: right;
  padding-top: 10px;
  margin-right: 10px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .close a {
  background-color: var(--primarry);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 3px;
  text-transform: uppercase;
  text-decoration: 0.3s;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .close a:hover {
  background-color: var(--secondary);
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item {
  display: flex;
  gap: 16px;
  padding: 24px;
  justify-content: flex-end;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item .nav_product {
  width: 150px;
  padding: 8px;
  border-radius: 8px;
  background: var(--White, #FFF);
  gap: 16px;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  margin-top: 80px;
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item .nav_product {
    width: 127px;
  }
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item .nav_product img {
  margin-bottom: 16px;
}
#product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item .nav_product a h4 {
  color: var(--Black, #0C0C0C);
  text-align: center;
  font-size: 16px;
  font-weight: normal;
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item .nav_product a h4 {
    font-size: 14px;
    line-height: 24px;
  }
}
@media (min-width: 0px) and (max-width: 991.9px) {
  #product_category_jumbo_manu {
    z-index: 9999;
  }
  #product_category_jumbo_manu .product_list_manu .overlay {
    max-width: 450px;
    width: 100%;
    position: absolute;
    left: 0;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories {
    flex-direction: column;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .category_list {
    padding-bottom: 0;
    border-right: 0;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list {
    flex-direction: column;
    flex: unset;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .subcategories {
    padding-top: 0;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .close {
    text-align: center;
    margin-left: 15px;
    margin-bottom: 15px;
  }
  #product_category_jumbo_manu .product_list_manu .overlay .product_categories .subcategories_list .top_product .nav_product_item {
    display: none;
  }
}

#user_drop_down_actions {
  position: absolute;
  padding: 16px;
  width: 290px;
  right: 0;
  top: calc(100% + 39px);
  background-color: var(--white);
  box-shadow: 0px 10px 10px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid var(--primarry);
  display: none;
  z-index: 9;
}
#user_drop_down_actions.active {
  display: block;
}
#user_drop_down_actions ul {
  display: grid;
  gap: 20px;
}
#user_drop_down_actions ul li a {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}
#user_drop_down_actions ul li a:hover .content h4,
#user_drop_down_actions ul li a p {
  color: var(--primarry);
  transition-duration: 0.3s;
  font-weight: 300;
}
#user_drop_down_actions ul li a .content {
  color: var(--black);
}
#user_drop_down_actions ul li a .content h4 {
  font-size: 18px;
  margin: 0;
  color: var(--Black, #0C0C0C);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
}
#user_drop_down_actions ul li a .content h4.block {
  color: var(--primarry);
}
#user_drop_down_actions ul li a .content p {
  font-size: 14px;
  color: var(--black);
  font-weight: 300;
}

.search_items {
  position: absolute;
  top: 103px;
  width: 100vw;
  right: 0;
  background-color: var(--white);
  padding: 32px 48px;
  box-shadow: 0px 10px 10px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid var(--primarry);
  z-index: 9;
  width: 808px;
  height: 500px;
  display: none;
}
.search_items.active {
  display: block;
}
.search_items .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.search_items .top .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 490px;
  padding: 16px;
  border-radius: 8px;
  border: 3px solid var(--natural_gray);
}
.search_items .top .left p {
  color: var(--natural_gray);
  font-weight: 300;
}
.search_items .top .right .close {
  text-align: right;
  padding-top: 10px;
  margin-right: 10px;
}
.search_items .top .right .close a {
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 3px;
  text-transform: uppercase;
  text-decoration: 1.5s;
}
.search_items .top .right .close a:hover {
  color: var(--secondary);
  transform: rotate(360deg);
}
.search_items .bottom {
  display: flex;
  gap: 30px;
}
.search_items .bottom .right {
  display: flex;
  gap: 30px;
}
.search_items .bottom .right .product_list .product_list_heading {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: normal;
}
.search_items .bottom .right .product_list ul {
  display: block;
}
.search_items .bottom .right .product_list ul li {
  margin-bottom: 32px;
}
.search_items .bottom .right .product_list ul li a {
  font-size: 18px;
  color: var(--black);
  font-weight: 300;
  line-height: normal;
}

.cart_items {
  position: absolute;
  top: calc(100% + 38px);
  right: 0;
  width: 520px;
  max-height: 700px;
  background-color: var(--white);
  padding: 16px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: 0px 10px 10px;
  border-top: 1px solid var(--primarry);
  z-index: 9;
  display: none;
  visibility: hidden;
  transition-duration: 0.3s;
  transform: scale(0);
  opacity: 0;
}
.cart_items.active {
  display: block;
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}
@media (min-width: 0px) and (max-width: 991.9px) {
  .cart_items {
    width: 89vw;
    right: -49px;
  }
}
.cart_items .top {
  padding-bottom: 10px;
}
.cart_items .top .cart_top_tittle {
  font-size: 18px;
  font-weight: 300;
  line-height: 20px;
}
.cart_items .mid .cart_item_list {
  height: 511px;
  overflow-y: scroll;
  padding: 8px;
}
.cart_items .mid .cart_item_list .cart_item {
  border-radius: 8px;
  background: #FFF;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  padding: 16px 30px;
  margin-bottom: 12px;
  display: flex;
  gap: 26px;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .cart_items .mid .cart_item_list .cart_item {
    flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .cart_items .mid .cart_item_list .cart_item {
    flex-direction: column;
  }
}
.cart_items .mid .cart_item_list .cart_item .img {
  width: 145px;
}
.cart_items .mid .cart_item_list .cart_item .content {
  width: calc(100% - 167px);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .cart_items .mid .cart_item_list .cart_item .content {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .cart_items .mid .cart_item_list .cart_item .content {
    width: 100%;
  }
}
.cart_items .mid .cart_item_list .cart_item .content .product_name,
.cart_items .mid .cart_item_list .cart_item .content .size {
  font-size: 18px;
  line-height: 18px;
  font-weight: 600;
}
.cart_items .mid .cart_item_list .cart_item .content .color {
  margin-top: 10px;
}
.cart_items .mid .cart_item_list .cart_item .content color,
.cart_items .mid .cart_item_list .cart_item .content .qty {
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}
.cart_items .mid .cart_item_list .cart_item .content .extra_feautures ul {
  display: block;
  margin-top: 10px;
}
.cart_items .mid .cart_item_list .cart_item .content .extra_feautures ul li {
  display: flex;
  gap: 10px;
  font-size: 10px;
  line-height: 10px;
  margin-bottom: 8px;
  align-items: center;
}
.cart_items .mid .cart_item_list .cart_item .content .extra_feautures ul li .svg_icon {
  height: 16px;
  width: 16px;
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .cart_items .mid .cart_item_list .cart_item .content .qty_changer {
    flex-direction: column;
    gap: 10px;
  }
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .price {
  font-size: 13px;
  line-height: 15px;
  display: flex;
  align-items: center;
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .qty_updater {
  display: flex;
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .qty_updater button {
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .qty_updater .delete_cart .svg_icon {
  background-color: var(--error);
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .qty_updater .qty_input {
  display: flex;
  gap: 3px;
  border-bottom: 1px solid var(--natural_gray);
}
.cart_items .mid .cart_item_list .cart_item .content .qty_changer .qty_updater .qty_input input {
  width: 45px;
  border: 0;
  text-align: center;
}
.cart_items .bottom {
  display: flex;
  gap: 32px;
  align-items: center;
  padding-top: 15px;
}
.cart_items .bottom .left .tittle {
  font-weight: 300;
  font-size: 15px;
  line-height: 17px;
}
.cart_items .bottom .left .ammount {
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
}
.cart_items .bottom .right {
  flex: 1;
}
.cart_items .bottom .right a {
  background-color: var(--primarry);
  border-radius: 8px;
  color: var(--white);
  text-align: center;
  display: block;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  gap: 8px;
}
.cart_items .bottom .right a .svg_icon {
  background-color: var(--white);
}
.cart_items .bottom .right a:hover {
  background-color: var(--secondary);
}
.cart_items .bottom .right a:hover .svg_icon {
  background-color: var(--white);
}
.cart_items .bottom .right a .tittle {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

footer .Top {
  background: rgb(9, 81, 190);
  background: radial-gradient(circle, rgb(9, 81, 190) -365%, rgb(2, 23, 54) 63%);
  padding-top: 48px;
}
footer .Top .footer_top_content {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 0px) and (max-width: 400px) {
  footer .Top .footer_top_content {
    grid-template-columns: repeat(auto-fit, 270px);
  }
}
footer .Top .footer_top_content .footer_item h3 {
  font-size: 16px;
  line-height: 14px;
  margin-bottom: 15px;
  color: var(--white);
}
footer .Top .footer_top_content .footer_item ul li {
  color: var(--white);
  margin-bottom: 10px;
}
footer .Top .footer_top_content .footer_item ul li a {
  font-size: 16px;
  color: var(--white);
}
footer .Top .footer_top_content .footer_item ul li a i {
  padding-right: 5px;
}
footer .Top .footer_top_content .footer_item .social_icons {
  display: flex;
  gap: 10px;
}
footer .Top .footer_top_content .footer_item .social_icons li a {
  font-size: 18px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 3px;
  border: 1px solid var(--white);
}
footer .Top .footer_top_content .footer_item .social_icons li a i {
  padding-right: 0;
}
footer .bottom {
  background-color: #021736;
  padding: 16px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  footer .bottom {
    padding: 8px;
  }
}
footer .bottom .footer_bottom_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
footer .bottom .footer_bottom_content .left p {
  font-size: 12px;
  color: var(--white);
  font-weight: 300;
}
footer .bottom .footer_bottom_content .right ul {
  display: flex;
  justify-content: flex-end;
  gap: 50px;
}
@media (min-width: 0px) and (max-width: 400px) {
  footer .bottom .footer_bottom_content .right ul {
    gap: 12px;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
  }
}
footer .bottom .footer_bottom_content .right ul li a {
  color: var(--natural_gray);
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
}

.subscribe_form {
  position: relative;
  margin-bottom: 20px;
}
.subscribe_form .icon {
  font-size: 20px;
  color: var(--white);
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe_form .input {
  width: 100%;
  padding: 12px 36px;
  border: 1px solid var(--white);
  break-before: 5px;
  background-color: transparent;
  box-sizing: border-box;
  color: var(--white);
}
.subscribe_form .button {
  background-color: transparent;
  border: 0;
  outline: 0;
  font-size: 20px;
  color: var(--white);
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.subscribe_form .button i {
  color: var(--white);
}

.bread_cumb_content {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 28px 0px;
}
.bread_cumb_content li a {
  font-family: var(--inter);
  font-size: 18px;
  line-height: 18px;
  position: relative;
  color: var(--black);
  text-transform: capitalize;
}
.bread_cumb_content li a::after {
  content: "\f105";
  font-family: var(--fa-style-family, "Font Awesome 6 Free");
  font-weight: var(--fa-style, 900);
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  right: -15px;
}
.bread_cumb_content li:last-child a {
  color: var(--primarry);
  text-decoration: underline;
}
.bread_cumb_content li:last-child a::after {
  content: "";
}

.banner_content {
  display: grid;
  grid-template-columns: 500px 1fr;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .banner_content {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .banner_content {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .banner_content {
    grid-template-columns: 310px 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .banner_content {
    grid-template-columns: 420px 1fr;
  }
}
.banner_content .left .heading {
  font-size: 64px;
  font-weight: 600;
  color: var(--navy_blue);
  margin-top: 56px;
  line-height: normal;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .banner_content .left .heading {
    font-size: 45px;
    margin-top: 50px;
    line-height: 50px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .banner_content .left .heading {
    font-size: 50px;
    margin-top: 55px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .banner_content .left .heading {
    font-size: 60px;
    line-height: 60px;
  }
}
.banner_content .left .sub_heading {
  color: var(--navy_blue);
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 100px;
  margin-top: 50px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .banner_content .left .sub_heading {
    margin-bottom: 27px;
    margin-top: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .banner_content .left .sub_heading {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .banner_content .left .sub_heading {
    margin-bottom: 40px;
    margin-top: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .banner_content .left .sub_heading {
    margin-bottom: 60px;
  }
}
.banner_content .left .sub_heading span {
  color: var(--secondary);
}
.banner_content .left .banner_btn {
  padding: 18px 95px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .banner_content .left .banner_btn {
    padding: 20px 40px;
  }
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .banner_content .right {
    padding-top: 100px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .banner_content .right {
    padding-top: 100px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .banner_content .right {
    padding-top: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .banner_content .right {
    padding-top: 40px;
  }
}
.banner_content .right .img {
  padding: 10px;
}
.top_categories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(184px, 1fr));
  gap: 24px;
  padding: 48px 0px;
}
.top_categories .item {
  padding: 8px 18px;
  background-color: var(--white);
  border-radius: 8px;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.top_categories .item .img {
  height: 252px;
}
.top_categories .item .img img {
  object-fit: contain;
  height: 100%;
}
.top_categories .item .tittle h3 {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.top_sales_part {
  background-image: url(../images/sales/shape.png);
  display: grid;
  grid-template-columns: 290px 1000px;
  gap: 20px;
  background-color: var(--navy_blue);
  margin-bottom: 48px;
  border-radius: 8px;
  background-position: -128px -87px;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 384px;
  background-blend-mode: overlay;
  overflow-x: hidden;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .top_sales_part {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .top_sales_part {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .top_sales_part {
    grid-template-columns: 290px 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .top_sales_part {
    grid-template-columns: 290px 610px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .top_sales_part {
    grid-template-columns: 290px 823px;
  }
}
.top_sales_part .left {
  color: var(--white);
  text-align: center;
}
.top_sales_part .left .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  margin-bottom: 62px;
}
.top_sales_part .left .heading {
  font-size: 24px;
  margin-top: 62px;
  margin-bottom: 8px;
}
.top_sales_part .left .sub_heading {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 88px;
}
.top_sales_part .left .link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 16px;
  margin-bottom: 62px;
}
.top_sales_part .left .link .svg_icon {
  background-color: var(--white);
}
.top_sales_part > .right {
  padding-top: 56px;
  padding-right: 10px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .top_sales_part > .right {
    padding-left: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .top_sales_part > .right {
    padding-left: 10px;
  }
}
.top_sales_part > .right .navigation {
  display: none;
}
.top_sales_part > .right .owl-carousel .owl-nav.disabled {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 8px;
}

.product_list2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(248px, 248px));
  gap: 24px;
  padding-bottom: 48px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .product_list2 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .product_list2 {
    grid-template-columns: repeat(auto-fit, minmax(95px, 226px));
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .product_list2 {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .product_list2 {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}
.product_list2 .product_item_2 {
  max-width: 255px;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
  padding: 16px;
  display: grid;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .product_list2 .product_item_2 {
    max-width: unset;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .product_list2 .product_item_2 {
    max-width: 215px;
  }
}
.product_list2 .product_item_2 .top {
  position: relative;
  overflow: hidden;
}
.product_list2 .product_item_2 .top .img {
  width: 193px;
  height: 181px;
}
.product_list2 .product_item_2 .top .img a {
  display: block;
}
.product_list2 .product_item_2 .top .img a img {
  transition-duration: 0.3s;
}
.product_list2 .product_item_2 .top .favourite {
  position: absolute;
  top: 0;
  left: -25px;
  font-size: 24px;
  z-index: 9;
}
.product_list2 .product_item_2 .top .color_list {
  right: 0;
  position: absolute;
  z-index: 9;
  top: 50%;
  transform: translateX(-50%);
}
.product_list2 .product_item_2 .top .color_list li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-bottom: 3px;
  cursor: pointer;
}
.product_list2 .product_item_2 .top .add_to_cart_btn {
  transform: translate(-50%);
  position: absolute;
  left: 50%;
  bottom: -45px;
  text-wrap: nowrap;
}
.product_list2 .product_item_2 .devider {
  margin: 16px 0px;
  height: 2px;
  background: rgb(68, 68, 68);
  background: linear-gradient(90deg, rgba(68, 68, 68, 0.2029384328) 38%, rgba(16, 16, 16, 0.7492070896) 50%, rgba(68, 68, 68, 0.1969682836) 62%);
}
.product_list2 .product_item_2 .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product_list2 .product_item_2 .bottom .tittle a {
  display: block;
}
.product_list2 .product_item_2 .bottom .tittle a h3 {
  font-size: 16px;
  text-align: center;
  color: var(--black);
}
.product_list2 .product_item_2 .bottom .price {
  display: flex;
  justify-content: space-between;
}
.product_list2 .product_item_2 .bottom .price .right {
  color: var(--navy_blue);
}
.product_list2 .product_item_2:hover .top .img a img {
  transform: scale(1.2);
}
.product_list2 .product_item_2:hover .top .favourite {
  left: 0;
  color: red;
}
.product_list2 .product_item_2:hover .top .add_to_cart_btn {
  bottom: 10px;
}
.product_list2 .product_item_2:hover .devider {
  background: rgb(6, 58, 136);
  background: linear-gradient(90deg, rgba(6, 58, 136, 0.3014458955) 33%, rgb(6, 58, 136) 52%, rgba(6, 58, 136, 0.2954757463) 65%);
}
.product_list2 .product_item_2:hover .bottom a h3 {
  color: var(--navy_blue);
}

#offers {
  margin-bottom: 48px;
}

.offer_content {
  display: grid;
  grid-template-columns: 1fr 444px;
  gap: 24px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .offer_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .offer_content {
    grid-template-columns: 1fr 420px;
  }
}
.offer_content .left {
  display: grid;
}
.offer_content .left .left_content {
  position: relative;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 270px;
  gap: 20px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .left .left_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .left .left_content {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .offer_content .left .left_content {
    grid-template-columns: 253px 367px;
  }
}
.offer_content .left .left_content .img {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}
.offer_content .left .left_content .img img {
  height: 100%;
  width: 100%;
  object-fit: unset;
}
.offer_content .left .left_content .content_left {
  z-index: 9;
  position: relative;
}
.offer_content .left .left_content .content_left .offer_tittle {
  margin-bottom: 60px;
  line-height: 50px;
  font-weight: 500;
  color: var(--white);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .left .left_content .content_left .offer_tittle {
    font-size: 33px;
    margin-bottom: 35px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .left .left_content .content_left .offer_tittle {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content .left .left_content .content_left .offer_tittle {
    font-size: 45px;
    margin-bottom: 40px;
  }
}
.offer_content .left .left_content .content_left .product_img img {
  max-width: 380px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .left .left_content .content_left .product_img img {
    max-width: unset;
    width: 230px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .left .left_content .content_left .product_img img {
    max-width: unset;
    width: 330px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content .left .left_content .content_left .product_img img {
    max-width: unset;
    width: 330px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .offer_content .left .left_content .content_left .product_img img {
    max-width: 256px;
  }
}
.offer_content .left .left_content .content_right {
  z-index: 9;
  position: relative;
}
.offer_content .left .left_content .content_right .timer {
  margin-bottom: 29px;
  gap: 16px;
  display: flex;
  align-items: center;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .left .left_content .content_right .timer {
    flex-wrap: wrap;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .left .left_content .content_right .timer {
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content .left .left_content .content_right .timer {
    flex-wrap: wrap;
  }
}
.offer_content .left .left_content .content_right .timer li {
  padding: 8px;
  border-radius: 8px;
  text-align: center;
  border: 1px solid var(--black);
  padding: 8px;
  height: 46px;
  width: 49px;
}
.offer_content .left .left_content .content_right .timer li .ammount {
  margin-bottom: 10px;
  font-weight: 600;
}
.offer_content .left .left_content .content_right .timer li .tittle {
  margin-bottom: 25px;
}
.offer_content .left .left_content .content_right .offer_ditails_tittle {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.offer_content .left .left_content .content_right .description {
  font-size: 16px;
  color: var(--gray);
  margin-bottom: 25px;
}
.offer_content .right .right_content {
  width: 444px;
  height: 444px;
  position: relative;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .right .right_content {
    width: unset;
    height: unset;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .right .right_content {
    width: unset;
    height: unset;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content .right .right_content {
    width: unset;
    height: unset;
  }
}
.offer_content .right .right_content .img {
  height: 100%;
  width: 100%;
}
.offer_content .right .right_content .img img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}
.offer_content .right .right_content .offer_btn {
  bottom: 38px;
  left: 71px;
  position: absolute;
  /* height: 18px; */
  display: flex;
  align-items: center;
  padding: 17px 40px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .offer_content .right .right_content .offer_btn {
    bottom: 16px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .offer_content .right .right_content .offer_btn {
    bottom: 25px;
    padding: 15px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .offer_content .right .right_content .offer_btn {
    bottom: 25px;
    padding: 15px 30px;
  }
}
.brand_list {
  margin-bottom: 48px;
}
.brand_list .brand_logos {
  display: flex;
  gap: 25px;
  padding: 60px 0px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .brand_list .brand_logos {
    padding: 20px 0px;
    gap: 0;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .brand_list .brand_logos {
    padding: 20px 0px;
    gap: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .brand_list .brand_logos {
    padding: 20px 0px;
    gap: 0;
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .brand_list .brand_logos {
    padding: 40px 0px;
  }
}
.brand_list .brand_logos .img {
  display: flex;
  justify-content: center;
}
.brand_list .brand_logos .img img {
  object-fit: contain;
  height: 30px;
  width: unset;
  max-width: 100%;
}

.heighlight_content {
  display: grid;
  grid-template-columns: 330px 1fr;
  gap: 30px;
  background-color: #223949;
  margin-bottom: 60px;
  overflow: hidden;
  padding: 40px 60px;
  position: relative;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .heighlight_content {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .heighlight_content {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .heighlight_content {
    grid-template-columns: 1fr;
    padding: 20px 30px;
  }
}
.heighlight_content .shape {
  position: absolute;
  width: 508px;
  height: 100%;
  border: 1px solid white;
  right: 0;
  top: 0;
  background-color: var(--secondary);
  clip-path: ellipse(90% 99% at 100% 51%);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .heighlight_content .shape {
    width: 100%;
    height: calc(100% + 100px);
    right: 0;
    top: unset;
    transform: rotate(90deg);
    bottom: -50%;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .heighlight_content .shape {
    width: 100%;
    height: calc(100% + 100px);
    right: 0;
    top: unset;
    transform: rotate(58deg);
    bottom: -41%;
    left: 62px;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .heighlight_content .shape {
    width: 100%;
    height: calc(100% + 150px);
    right: 0;
    left: 0;
    top: 125px;
    transform: rotate(90deg);
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .heighlight_content .shape {
    width: 575px;
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .heighlight_content .shape {
    width: 765px;
  }
}
.heighlight_content .left {
  display: grid;
  align-content: center;
}
.heighlight_content .left .l_content {
  color: var(--white);
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .heighlight_content .left .l_content {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .heighlight_content .left .l_content {
    text-align: center;
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .heighlight_content .left .l_content {
    text-align: center;
  }
}
.heighlight_content .left .l_content .heading {
  font-size: 44px;
  line-height: 54px;
}
@media (min-width: 0px) and (max-width: 575.9px) {
  .heighlight_content .left .l_content .heading {
    font-size: 25px;
    line-height: 23px;
  }
}
.heighlight_content .left .l_content p {
  font-size: 24px;
  line-height: 34px;
  margin-top: 16px;
  margin-bottom: 40px;
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .heighlight_content .left .l_content p {
    margin-bottom: 25px;
  }
}
.heighlight_content .left .l_content .btns {
  color: #223949;
  padding: 10px 20px;
}
.heighlight_content .right .img {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
.blog_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  justify-content: space-between;
  gap: 25px;
  padding-bottom: 90px;
}
@media (min-width: 0px) and (max-width: 400px) {
  .blog_list {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 576px) and (max-width: 767.9px) {
  .blog_list {
    grid-template-columns: repeat(auto-fit, minmax(234px, 1fr));
  }
}
@media (min-width: 768px) and (max-width: 991.9px) {
  .blog_list {
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
  }
}
@media (min-width: 992px) and (max-width: 1199.9px) {
  .blog_list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media (min-width: 1200px) and (max-width: 1399.9px) {
  .blog_list {
    grid-template-columns: repeat(auto-fit, minmax(265px, 1fr));
  }
}
.blog_list .blog_item {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: -2px 2px 15px -1px rgba(113, 113, 113, 0.12);
}
.blog_list .blog_item .top {
  margin-bottom: 8px;
  height: 210px;
  overflow: hidden;
}
.blog_list .blog_item .mid {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}
.blog_list .blog_item .mid .mid_item .svg_icon {
  background-color: var(--natural_gray);
}
.blog_list .blog_item .mid .mid_item span {
  color: var(--natural_gray);
  font-size: 12px;
  line-height: 20px;
}
.blog_list .blog_item .mid .left a {
  display: flex;
  align-items: center;
}
.blog_list .blog_item .mid .right a {
  display: flex;
  align-items: center;
}
.blog_list .blog_item .bottom {
  padding: 0px 16px 16px 16px;
}
.blog_list .blog_item .bottom .heading {
  margin: 8px 0px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#our_features_part {
  margin-bottom: 60px;
}

.our_features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
}
.our_features li {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our_features li .link {
  color: var(--Black);
  gap: 15px;
  display: flex;
  align-items: center;
}
.our_features li .link .svg_icon {
  min-height: 33px;
  min-width: 40px;
}
.our_features li .link .heading {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
}

.category_page_sub_category_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(74px, 90px));
  gap: 40px;
  justify-content: center;
  padding: 40px 0px;
}
.category_page_sub_category_list .item {
  border: 1px solid rgb(240, 240, 240);
}
.category_page_sub_category_list .item.active {
  border-bottom: 1px solid var(--primarry);
}
.category_page_sub_category_list .item:hover .inner_div1::after {
  animation: rotate 12s linear infinite;
  background-color: var(--primarry);
}
.category_page_sub_category_list .item .inner_div1 {
  padding: 3px;
  position: relative;
  overflow: hidden;
}
.category_page_sub_category_list .item .inner_div1::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 150%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 1;
  transition-duration: 0.5s;
}
@keyframes rotate {
  from {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) translateY(-50%) rotate(360deg);
  }
}
.category_page_sub_category_list .item .inner_div1 .inner_div2 {
  background-color: white;
  position: relative;
  z-index: 9;
}
.category_page_sub_category_list .item .inner_div1 .inner_div2 a {
  display: block;
}
.category_page_sub_category_list .item .inner_div1 .inner_div2 a .img {
  height: 48px;
  width: 48px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}
.category_page_sub_category_list .item .inner_div1 .inner_div2 a .img img {
  height: 100%;
  width: 100%;
  object-position: center;
}
.category_page_sub_category_list .item .inner_div1 .inner_div2 a .tittle {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: gray;
  padding-top: 12px;
}

/*# sourceMappingURL=app.css.map */
